* {
  font-family: 'Josefin Sans', sans-serif;
  /* 'Noto Serif', serif; */
  color: #333;
}

a {
 color: #333
}

/* Navigation */
.navrbar {
  width: 100%;
  margin: 0 auto;
}

.leftbar {
  float: left;
  padding: 10px;
  margin-left: 20px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  background-color: #6666ff;
  
}

.MainHeader {
  display: inline-block;
  margin-right: 10px;
  font-size: 19px;
  transition: all 0.3s;
}

.MainHeader a:hover {
  color: #6666ff;
  font-size: 20px;  
}

.header {
  display: inline-block;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s;
}

.header a:hover, .rightbar a:hover {
  color: #6666ff;
  font-size: 19px;  
}
.rightbar {
  float: right;
  padding: 10px;
  margin-right: 20px;
}

.text1, .text2 {
  display: inline-block;
  margin-right: 10px;
}

.clr {
  clear: both;
}
/* Sections */

.box1 {
  width: 95%;
  height: 200px;
  margin: 0 auto;
  position: relative;
  margin-top: 10px;
}

.mainbox h2{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #808080;
  font-size: 18px;
}

.mainbox img {
  width: 100%;
  height: 200px;
}

.secondbox {
  position: absolute;
  top: 40px;
  left: 10px;
 }

 .secondbox h2, .secondbox p {
  color: #fff;
 }

 .secondbox h2 {
   font-size: 20px;
   margin-bottom: 20px;
 }

 .secondbox p {
   font-size: 14px;
   opacity: 80%;
   margin-bottom: 30px;
 }

 .btn {
   width: 80px;
   background-color: #fff;
   font-size: 14px;
   text-align: center;
   opacity: 80%;
   padding: 5px;
   border-radius: 10px;
   padding: 5px;
   transition: all 0.3s;
  }
  .btn:hover {
    background-color: #6666ff;
  }
  .btn1 {
    background-color: #ccccff;
    opacity: 80%;
  }

  .btn2 {
    position: absolute;
    top: 15px;
    right: 10px;
  }
  .header3 {
    position: absolute;
    top:20px;
    right: 100px;
    color: #808080;
    font-size: 12px;
    opacity: 80%;
  }

.section2 {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  }

.box2 {
  width: 60%;
  float: left;
  vertical-align: top;
  position: relative;
  background-color: #f2f2f2;
  padding: 5px;
}
 .box2 h2 {
   color: #808080;
   font-size: 18px;
   margin-top: 20px;
   margin-bottom: 30px;
 }
.date {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #808080;
  opacity: 80%;
  }
.article {
  width: 100%;
  margin-bottom: 30px;
}

.article img {
  width: 100px;
  height: 80px;
  float: left;
  margin-right: 10px;
  vertical-align: top;
}

.article h2 {
  margin-bottom: 5px;
  font-size: 15px;
  vertical-align: top;
}
.box3 {
  width: 37%;
  float: right;
  background-color: #f2f2f2;
  vertical-align: top;
  position: relative;
}

.box3 img {
  width: 100%;
  height: 250px;
 }

.box3content {
  position: absolute;
  top: 20px;
  left: 5px;
}

.box3content h2 {
  color: #f2f2f2;
  margin-bottom: 10px;
  font-size: 14px;
}

.title {
  color: #737373;
  font-size: 22px;
  margin-bottom: 20px;
}

.text {
  color: #f2f2f2;
  margin-bottom: 20px;
}
.content2 {
  padding: 5px;
  margin-bottom: 5px;
}
.circle1 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  background-color: #595959;
  vertical-align: center;
}
.content2 h2 {
  display: inline-block;
  vertical-align: center;
  margin: 10px 0;
  color: #595959;
}
.content2text1 {
  margin-bottom: 10px;
}

.btn4 {
  margin-top: 10px;
  background-color: #e6e6ff;
  font-weight: 600;
}

.btn4 a{
  color: #4d4dff;
}

.btn4 a:hover {
  color: #333;
}

.anime1, .anime2 {
  width: 80px;
  height: 80px;
  opacity: 80%;
  position: relative;
}
.anime1 {
  float: left;
  margin-top: 10px;
  margin-left: 25px;
  animation: cube 10s infinite linear;
  /* animation-timing-function: linear; */
  }

@keyframes cube{
  0%   {left: 0%; border-radius: 30%; background-color: #f2f2f2;}
  25%  {left: 30%; border-radius: 40%; background-color: #cccccc;}
  50%  {left: 50%; border-radius: 50%; background-color: #808080;}
  75%  {left: 30%; border-radius: 40%; background-color: #cccccc;}
  100% {left: 0%; border-radius: 30%; background-color: #f2f2f2;}
}

.anime2 {
  float: right;
  margin-top: 110px;
  margin-right: 25px;
  animation: cube1 10s infinite linear;
  }

  @keyframes cube1{
    0%   {right: 0%; border-radius: 30%; background-color: #f2f2f2;}
    25%  {right: 30%; border-radius: 40%; background-color: #cccccc;}
    50%  {right: 50%; border-radius: 50%; background-color: #808080;}
    75%  {right: 30%; border-radius: 40%; background-color: #cccccc;}
    100% {right: 0%; border-radius: 30%; background-color: #f2f2f2;}
  }
