
* {
  font-family: 'Times New Roman', Times, serif;
  color: #333;
}

a {
 color: #333
}

/* Navigation */
.navrbar {
  width: 100%;
  margin: 0 auto;
}

.leftbar {
  float: left;
  padding: 10px;
  margin-left: 20px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  background-color: #6666ff;
  
}

.MainHeader {
  display: inline-block;
  margin-right: 10px;
  font-size: 19px;
  transition: all 0.3s;
}

.MainHeader a:hover {
  color: #6666ff;
  font-size: 20px;  
}

.header {
  display: inline-block;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s;
}

.header a:hover, .rightbar a:hover {
  color: #6666ff;
  font-size: 19px;  
}
.rightbar {
  float: right;
  padding: 10px;
  margin-right: 20px;
}

.text1, .text2 {
  display: inline-block;
  margin-right: 10px;
}

.clr {
  clear: both;
}
/* Sections */

.box1 {
  width: 90%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  margin-top: 10px;
}

.mainbox h2{
  position: absolute;
  top: 5px;
  left: 10px;
  color: #fff;
  font-size: 18px;
}

.mainbox img {
  width: 100%;
  height: 150px;
}

.secondbox {
  position: absolute;
  top: 30px;
  left: 10px;
 }

 .secondbox h2, p {
  color: #fff;
 }

 .secondbox h2 {
   font-size: 20px;
   margin-bottom: 10px;
 }

 .secondbox p {
   font-size: 14px;
   opacity: 80%;
   margin-bottom: 10px;
 }

 .btn1, .btn2 {
   width: 80px;
   background-color: #fff;
   font-size: 14px;
   text-align: center;
   opacity: 80%;
   padding: 5px;
   border-radius: 10px;
  }

  .btn2 {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header3 {
    position: absolute;
    top:15px;
    right: 100px;
    color: #fff;
    font-size: 12px;
    opacity: 80%;
  }